$primary-color: #000000;
$text-alt-color: #555;
$bd-white: #ffffff;
$bg-white: #ffffff;
$card: #fafafa;

body{
    background: $bg-white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}
